*{
    margin: 0;
    padding:0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.grid-container{
    display: grid;
    height:100vh;
    grid-template-columns: .6fr 3fr;
    grid-template-rows: .6fr 3fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main"
    "sidebar main"
    ;
}

.sidebar{
    grid-area: sidebar;
    background-color: #22c55e;
    display: grid;
    grid-template-rows: .5fr 1fr 1fr;
    z-index: 1;
}

.sidebar h1{
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.sidebar-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

#leaf{
    height: 50px;
    width: 50px;
    filter: brightness(0) saturate(100%) invert(95%) sepia(95%) saturate(20%) hue-rotate(302deg) brightness(105%) contrast(105%);
}

.sidebar-nav-buttons a{
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
}

.sidebar-nav-buttons a:hover{
    background-color: #16a34a;
}

.sidebar-nav-buttons h2{
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.sidebar-nav-buttons img{
    height: 25px;
    width: 25px;
    filter: brightness(0) saturate(100%) invert(95%) sepia(95%) saturate(20%) hue-rotate(302deg) brightness(105%) contrast(105%);
    padding-right: 10px;
}

.sidebar-nav-buttons2 a{
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
}

.sidebar-nav-buttons2 a:hover{
    background-color: #16a34a;
}

.sidebar-nav-buttons2 h2{
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.sidebar-nav-buttons2 img{
    height: 25px;
    width: 25px;
    filter: brightness(0) saturate(100%) invert(95%) sepia(95%) saturate(20%) hue-rotate(302deg) brightness(105%) contrast(105%);
    padding-right: 10px;
}

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 5px 5px #d1d1d1;
    z-index: 2;
}

.search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}

.search img{
    height: 30px;
    width: 30px;
    filter: invert(6%) sepia(9%) saturate(4866%) hue-rotate(192deg) brightness(91%) contrast(106%);
    padding-right: 10px;
}

#site-search{
    height: 35px;
    width: 700px;
    border-radius: 6px;
    border: 1px solid #f1f5f9;
    background-color: #f1f5f9;
    padding-left: 10px;
}

#site-search:hover{
    border: 1px solid #6b7280;
}

.notifications{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 450px;
}

.notifications img{
    height: 30px;
    width: 30px;
    filter: invert(6%) sepia(9%) saturate(4866%) hue-rotate(192deg) brightness(91%) contrast(106%);
}

#profile-pic{
    height: 70px;
    width: 70px;
    filter: invert(86%) sepia(16%) saturate(227%) hue-rotate(88deg) brightness(106%) contrast(102%);
}

.notifications h3{
    font-size: 20px;
}

.greeting{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.greeting-text{
    display: flex;
    flex-direction: column;
}

.greeting-text p{
    font-size: 18px;
}

#profile-pic-greeting{
    height: 100px;
    width: 100px;
    filter: invert(86%) sepia(16%) saturate(227%) hue-rotate(88deg) brightness(106%) contrast(102%);
    padding-left: 30px;
    padding-right: 10px;
}

.greeting h3{
    font-size: 30px;
    font-weight: 600;
}

.action-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 450px;
}

.action-buttons button{
    background-color: #22c55e;
    padding: 15px;
    border: none;
    border-radius: 100px;
    width: 120px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.action-buttons button:hover{
    background-color: #16a34a;
}


.main{
    grid-area: main;
    background-color: #f1f5f9;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "projects announcements"
    "projects trending";
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #797979;
    border-radius: 6px;
}

.projects{
    display: grid;
    grid-area: projects;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-template-areas: 
    "project project"
    ;
    gap: 30px;
    padding-left: 30px;
}

.projects h3{
    grid-area: project;
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
    font-size: 20px;
    font-weight: 600;
}

.cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .4fr;
    border-radius: 6px;
    background: linear-gradient(to right, #22c55e 0%, #22c55e 3%, white 3%, white 90%);
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 5px #d1d1d1;
    height: 250px;
    width: 400px;
}

.title-description p{
    color: #6b7280;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icons img{
    height: 25px;
    width: 25px;
    filter: brightness(0) saturate(100%) invert(43%) sepia(19%) saturate(282%) hue-rotate(181deg) brightness(98%) contrast(90%);
    padding-left: 20px;
}

.announcements{
    grid-area: announcements;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    padding-left: 30px;
    padding-right: 50px;
    gap: 30px;
}

.announcements h3{
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
    font-size: 20px;
    font-weight: 600;
}

.announcement-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    padding: 30px;
    box-shadow: 5px 5px 5px #d1d1d1;
}

.announcement-card p{
    color: #6b7280;
}

.announcement-card hr{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #6b7280;
}

.trending{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    padding-left: 30px;
    padding-right: 50px;
    gap: 30px;
}

.trending h3{
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
    font-size: 20px;
    font-weight: 600;
}

.topics{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 6px;
    padding: 30px;
    box-shadow: 5px 5px 5px #d1d1d1;
    height: 200px;
}

.topics img{
    height: 50px;
    width: 50px;
    filter: invert(86%) sepia(16%) saturate(227%) hue-rotate(88deg) brightness(106%) contrast(102%);
}

.trending-topic{
    display: flex;
}

.topic-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.topic-description p{
    color: #6b7280;
}